a {
  &, &:link {
    position: relative;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
  }

  &:visited {
    color: #888;
  }

  &:hover {
    & img {
      transform: scale(1.16);
    }

    & title {
      text-decoration: underline;
    }
  }

  &[use|explicitness=explicit] title:before {
    content: "!";
    margin-right: 1rem;
    padding: 1rem 2rem;
    border-radius: 2rem;
    background: #f00;
    font-weight: 800;
    line-height: 2;
  }
}

img {
  width: 100px;
  height: 100px;
  object-fit: contain;
  transition: transform .2s;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEiIHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIj48cGF0aCBkPSJNNzcgNzBWMzBIMjN2MzlsMTQtMThhMyAzIDAgMCAxIDQgMGwxMCAxMyA4LTEwYTMgMyAwIDAgMSA0IDB6TTIxIDI1aDU4YzIgMCAzIDEgMyAydjQ2YzAgMS0xIDItMyAySDIxYy0yIDAtMy0xLTMtMlYyN2MwLTEgMS0yIDMtMnptNDUgMThjLTMgMC01LTItNS00IDAtMyAyLTUgNS01IDIgMCA0IDIgNCA1IDAgMi0yIDQtNCA0eiIgZmlsbC1ydWxlPSJub256ZXJvIiBmaWxsPSIjMjIyIi8+PC9zdmc+);
}

title {
  margin: 2rem 0 0;
  font-size: 3rem;
  font-weight: normal;
}
